body {
  background-color: #ffdea1;
}

.container .search-box .search-btn, .container .locations-box .location-btn, .container .weather-box .back-btn {
  background-color: #ff9933;
  color: white;
  border-radius: 5px;
  box-shadow: 1px 1px grey;
  border: none;
  transition-duration: 250ms;
}

.container .search-box .search-btn:hover, .container .search-box .search-bar:hover, .container .search-box .search-bar:focus, .container .locations-box .location-btn:hover, .container .error-box:hover, .container .weather-box .forecast-box:hover, .container .weather-box .curwea-box:hover, .container .weather-box .back-btn:hover {
  background-color: rgba(255, 255, 255, 0.75);
  color: grey;
  outline: none;
}

.container .search-box .search-bar, .container .weather-box .forecast-box, .container .weather-box .curwea-box, .container .error-box {
  background-color: whitesmoke;
  color: rgba(46, 46, 46, 0.87);
  border-radius: 5px;
  box-shadow: 1px 1px grey;
  border: none;
  transition-duration: 250ms;
}

.container .error-box {
  color: white;
  background-color: #ff6666;
  transition-duration: 250ms;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "montserat", sans-serif;
}

main {
  min-height: 100vh;
  min-width: 100vw;
  padding: 10px;
}

.container {
  display: grid;
  grid-template-columns: 5% 45% 45% 5%;
  grid-template-rows: 40px;
  grid-auto-rows: 40px;
  grid-row-gap: 10px;
  justify-items: center;
}
.container .weather-box {
  min-width: 60%;
  justify-content: center;
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 2;
  display: grid;
  grid-auto-rows: 40px;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
}
.container .weather-box .back-btn {
  grid-column-start: 1;
  grid-column-end: 8;
  grid-row-start: 1;
  grid-row-end: 2;
  min-width: 60%;
}
.container .weather-box .curwea-box {
  min-width: 60%;
  min-height: 100%;
  padding: 5px;
  grid-column-start: 1;
  grid-column-end: 8;
  grid-row-start: 2;
  grid-row-end: 7;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 10%;
  align-content: center;
  justify-items: center;
  gap: 5px;
}
.container .weather-box .curwea-box .location {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  font-weight: bold;
  font-size: 13px;
}
.container .weather-box .curwea-box .date {
  grid-column-start: 1;
  grid-row-start: 2;
  font-weight: bold;
  font-size: 15px;
}
.container .weather-box .curwea-box .weekday {
  grid-column-start: 1;
  grid-row-start: 3;
  font-weight: bold;
  font-size: 15px;
}
.container .weather-box .curwea-box .time {
  grid-column-start: 1;
  grid-row-start: 4;
  font-size: 15px;
}
.container .weather-box .curwea-box .temperature {
  grid-column-start: 1;
  grid-row-start: 5;
  font-size: 15px;
}
.container .weather-box .curwea-box .feels {
  grid-column-start: 1;
  grid-row-start: 6;
  font-size: 15px;
}
.container .weather-box .curwea-box .winddir {
  grid-column-start: 1;
  grid-row-start: 7;
  font-size: 15px;
}
.container .weather-box .curwea-box .windspeed {
  grid-column-start: 1;
  grid-row-start: 8;
  font-size: 15px;
}
.container .weather-box .curwea-box img {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 8;
  max-height: 60%;
  width: auto;
}
.container .weather-box .curwea-box .description {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  font-style: italic;
  font-weight: bold;
  font-size: 15px;
}
@media screen and (min-width: 1125px) {
  .container .weather-box .forecasts-box {
    grid-column-start: 1;
    grid-column-end: 8;
    grid-row-start: 7;
    min-width: 60%;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
  }
}
.container .weather-box .forecast-box {
  gap: 3px;
  padding: 5px;
  display: grid;
  justify-items: center;
  font-size: 12px;
  min-width: 14%;
  max-width: 100%;
  height: 100%;
}
.container .weather-box .forecast-box .date {
  font-weight: bold;
}
.container .weather-box .forecast-box .weekday {
  font-weight: bold;
}
.container .weather-box .forecast-box .description {
  font-weight: bold;
  font-style: italic;
}
.container .weather-box .forecast-box img {
  max-width: 40%;
  height: auto;
}
.container .error-box {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
  min-width: 350px;
  display: grid;
  grid-auto-rows: 40px;
  justify-content: center;
  align-items: center;
  font-size: 10px;
}
.container .locations-box {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 6;
  display: grid;
  grid-auto-rows: 40px;
  grid-row-gap: 5px;
  min-width: 350px;
}
.container .search-box {
  grid-column-start: 2;
  grid-column-end: 4;
  min-width: 350px;
  display: grid;
  grid-template-columns: 3fr 1fr;
}
.container .search-box .search-bar {
  text-align: center;
  text-justify: center;
}
.container .search-box .search-btn {
  margin-left: 5px;
}
.container .search-box .search-bar::-moz-placeholder {
  text-align: center;
  text-justify: center;
}
.container .search-box .search-bar:-ms-input-placeholder {
  text-align: center;
  text-justify: center;
}
.container .search-box .search-bar::placeholder {
  text-align: center;
  text-justify: center;
}
.container .search-box .search-bar:focus::-moz-placeholder {
  color: transparent;
}
.container .search-box .search-bar:focus:-ms-input-placeholder {
  color: transparent;
}
.container .search-box .search-bar:focus::placeholder {
  color: transparent;
}
@media screen and (max-width: 1125px) {
  .forecasts-box {
    grid-column-start: 1;
    grid-column-end: 8;
    grid-row-start: 7;
    min-width: 60%;
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 1px;
  }
}/*# sourceMappingURL=index.css.map */